__pycache__/
*.py[cod]
*$py.class

build/
dist/
pip-wheel-metadata/
*.egg-info/
.eggs/

.venv/
venv/
env/
.env
.env.*

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

/.idea/
.vscode/
*.swp
*.swo

*.log
coverage.xml
